.clients {
    padding-top: 94px;
    padding-bottom: 94px;
    &-title {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
            color: var(--second-title-color);
            margin-bottom: 50px;
            margin-top: 0px;
    }
    &-list {
            display: flex;
            justify-content: center;
    }
    &-link {
        display: flex;
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        fill: #AFB1B8;
        transition: fill 250ms var(--animation),
            border-color 250ms var(--animation);
    }
    &-link:hover,&-link:focus {
        fill: #2196F3;
        border: 1px solid #2196F3;
    }
    &-item+&-item {
        margin-left: 30px;
    }
}
