.direction {
    padding-bottom: 94px;
    &-list {
            display: flex;
    }
    &-item {
        position: relative;
        margin-right: 30px;
    }
    &-icon {
        display: block;
        width: 100%;
        height: auto;
    }
    &-item:last-child {
        margin-right: 0px;
    }
    &-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        color: var(--second-title-color);
        margin-bottom: 50px;
        margin-top: 0px;
    }
    &-desk {
        position: absolute;
        display: flex;
        bottom: 0;
        width: 100%;
        height: 70px;
        background-color: rgba(47, 48, 58, 0.8);
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--main-title-color);
    }
}
